/* Remove margin to avoid any spacing issues */
body, html {
    margin: 0;
    padding: 0;
}

/* Navar */
.navbar {
    background-color: transparent !important;
    z-index: 10;
}

/* Ensure the text inside the navbar is white */
.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
}

/* Optional: Change color on hover */
.navbar .nav-link:hover {
    color: #f8f9fa !important; /* Slightly lighter white */
}
  
/* Carousel */
.carousel {
    position: relative;
    z-index: 1;
}
  
/* Carousel height to fill the viewport */
.carousel-item img {
    height: 100vh;
    object-fit: cover;
}